{#
/**
 * @file
 * Template for the progress bar.
 *
 * Available variables:
 * - state: Array which contain name, color, percentage, is_first, due.
 * - label: String to label the progressbar (current state)
 *
 * @ingroup themeable
 */
#}
<div class="project-bar-label"><i class="fas fa-arrow-circle-right"></i> {{ label }}</div>
<div class="progress project-bar-wrapper">
    {% for item in state %}
        <div class="progress-bar project-bar-section" role="progressbar" style="width: {{ item.lowest_percent }}%; background-color: {{ item.color }}" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ item.state }}"></div>
        {% if item.time %}
            <div class="project-bar-formatter">
              <div class="project-bar-time"><i class="fa fa-calendar" aria-hidden="true"></i> {{ item.time }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>
